* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background: #C8E6C9;
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.btn {
  width: 135px;
  height: 40px;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}
.pict-div {
  position: relative;
  max-width: 768px;
  min-height: 460px;
  margin: 8% auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: #fff;
}
.inner-pict-div {
  width: 100%;
  position: relative;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #f2f2f2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
img.output-img {
  display: block;
  position: relative;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
img.output-img.horizontal {
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}
img.output-img.vertical {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.btn-upload {
  display: inline-block;
  top: 46%;
  background-color: #e5e5e5;
}
.change-img-div {
  background-color: #f1f1f3;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}
.btn-upload:hover,
.change-img-div:hover {
  background-color: #4CAF50;
  line-height: 40px;
  cursor: pointer;
}
.upload-input,
.change-img-input {
  display: block;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: absolute;
  opacity: 0;
  font-size: 100px;
  cursor: pointer;
}
::-webkit-file-upload-button {
  cursor: pointer;
}
.change-img-div {
  background-color: #fff;
}
.change-img-div:hover {
  background-color: #4CAF50;
}
.has-img {
  max-width: 768px;
  max-height: 480px;
}
.has-img .btn-upload {
  display: none;
}
.delete-img-btn {
  width: 135px;
  height: 40px;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: white;
}
.delete-img-btn:hover {
  background-color: #e6726a;
  line-height: 40px;
  cursor: pointer;
}
.pict-div input:hover {
  cursor: pointer;
}
.hover-mnu {
  display: none;
}
.has-img:hover:not(.disabled) .hover-mnu {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
  top: 0;
  left: 0;
}
.has-img:hover:not(.disabled) .hover-mnu .change-img-div,
.has-img:hover:not(.disabled) .hover-mnu .delete-img-btn {
  position: absolute;
  left: 40%;
}
.has-img:hover:not(.disabled) .hover-mnu .change-img-div {
  bottom: 50%;
}
.has-img:hover:not(.disabled) .hover-mnu .delete-img-btn {
  bottom: 40%;
}
.upload-input,
.change-img-input {
  top: 0;
}
/*Styles for disabling the component*/
.disabled-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  z-index: 2;
}
.disabled .disabled-overlay {
  display: block;
}
.has-img:hover .disabled .hover-mnu {
  display: none;
}
/*End of styles for disabling the component*/
.hidden {
  display: none !important;
}
