@posRel: relative;
@posAbs: absolute;
@transition: .4s ease all;
@fullSize: 100%;
@green: #4CAF50;

* {
    box-sizing: border-box;
}

body {
    background:#C8E6C9;
    font-family: sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.btn {
    width: 135px;
    height: 40px;
    overflow: hidden;
    position: @posRel;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    transition: @transition;
}
.pict-div {
    position: @posRel;
    max-width: 768px;
    min-height: 460px;
    margin: 8% auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 10px;
    background-color: #fff;
}
.inner-pict-div {
    width: @fullSize;
    position: @posRel;
    border-radius: 10px;
    background-color:#f2f2f2;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

img.output-img{
    display: block;
    position: relative;
    border-radius: 10px;
    &.horizontal {
        width:100%;
        top: 50%;
        transform: translateY(-50%);
        object-fit: cover;
    }
    &.vertical {
        height: 100%;
        object-fit: contain;
    }
}

.btn-upload {
    display: inline-block;
    top: 46%;
    background-color: #e5e5e5;
}

.change-img-div {
    background-color: #f1f1f3;
    transition: @transition;
}

.btn-upload:hover, 
.change-img-div:hover {
    background-color: @green;
    line-height: 40px;
    cursor: pointer;
}

.upload-input, 
.change-img-input {
    display: block;
    border-radius: 10px;
    position: @posAbs;
    opacity: 0;
    font-size: 100px; 
    cursor: pointer;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.change-img-div {
    background-color: #fff;
}

.change-img-div:hover {
    background-color: @green;
}

.has-img {
    max-width: 768px;
    max-height: 480px;
}

.has-img .btn-upload {
    display: none;
}

.delete-img-btn {
    width: 135px;
    height: 40px;
    overflow: hidden;
    position: @posRel;
    background-color: transparent;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 16px; 
    color: white;
}

.delete-img-btn:hover {
    background-color: #e6726a;
    line-height: 40px;
    cursor: pointer;
}

.pict-div input:hover {
    cursor: pointer;
}

.hover-mnu {
    display: none;
}

.has-img:hover:not(.disabled) .hover-mnu {
    position: @posAbs;
    width: @fullSize;
    height: @fullSize;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-color: rgba(0, 0, 0, .35);
    z-index: 1;
    top: 0;
    left: 0;

    .change-img-div,
    .delete-img-btn {
        position: absolute;
        left: 40%;
    }

    .change-img-div {
        bottom: 50%;
    }

    .delete-img-btn {
        bottom: 40%;
    }
}

.upload-input, 
.change-img-input {
    top: 0;
}

/*Styles for disabling the component*/

.disabled-overlay {
    display: none;
    position: @posAbs;
    width: @fullSize;
    height: @fullSize;
    background-color: rgba(255, 255, 255, .35);
    z-index: 2; 
}

.disabled .disabled-overlay {
    display: block;
}
.has-img:hover .disabled .hover-mnu {
    display:none;
}
/*End of styles for disabling the component*/

.hidden {
    display: none !important;
}